<footer>
	<span><a href="/privacy">Privacy Policy</a>, <a href="https://codeberg.org/hexaitos/theriodex">Source Code</a></span><br>
	<span><%= get_localised_text(CGI.parse(URI(request.fullpath).query.to_s)['lang']&.first, :footer) %></span>
	<img src="/button_theriodex.gif" alt="An 88x31 web button for Theriodex">
	<a rel="me" href="https://squawk.social/@hexaitos"></a>
</footer>
