<footer>
	<div class="footer-container">
		<div class="footer-links">
			<a href="/privacy">Privacy Policy</a>
			<a href="/contact">Contact</a>
			<a href="https://codeberg.org/hexaitos/theriodex">Source Code</a>
		</div>
		<div class="footer-text">
			<span class="footer-text"><%= I18n.t(:footer) %></span>
		</div>
		<div>
			<img src="/logo.webp" alt="The Theriodex logo which consists of a purple Vaporeon holding and clutching around a coin-shaped sign that has theriodex.net written on it">
		</div>

	</div>
	<hr>
	<div>
		<span><%= THERIODEX_VERSION %></span>
		<a href="https://hexaitos.com">Made by Hexaitos</a>
	</div>
	<a rel="me" aria-label="Hidden link for Mastodon verification" href="https://social.jnpw.net/@hexaitos"></a>
</footer>
