<footer>
	<span><a href="/privacy">Privacy Policy</a> <a href="https://codeberg.org/hexaitos/theriodex">Source Code</a> <a href="https://hexaitos.eu">Developer Website</a></span> <br>
	<span><%= get_localised_text(CGI.parse(URI(request.fullpath).query.to_s)['lang']&.first, :footer) %></span>
	<a rel="me" href="https://squawk.social/@hexaitos"></a>
</footer>
