<div class="corner">
	<a class="corner" href="/game?lang=<%= lang %>">Menu</a>
	<form action="<%= request.fullpath %>" method="get" id="language_select">
		<select id="lang-select" name="lang" required>
			<option value="en">🌐 English</option>
			<option value="de">🌐 Deutsch</option>
			<option value="fr">🌐 Français</option>
			<option value="it">🌐 Italiano</option>
			<option value="es">🌐 Español</option>
		</select>
	</form>
</div>

<script>
document.querySelector('#language_select').addEventListener("change", (event) => {
	document.querySelector('#language_select').submit();
});

window.onload = () => {
	const urlParams = new URLSearchParams(window.location.search);
	const lang = urlParams.get('lang') || 'en';
	document.querySelector('#lang-select').value = lang;
};
</script>
