<div class="corner">
	<a class="corner" href="/<%= lang %>/game">Menu</a>
	<form action="/change-lang" method="post" id="language_select">
		<select aria-label="Select language" id="lang-select" name="lang" required>
			<% LANGUAGE_NAMES.each do | code, name | %>
				<option value="<%= code %>"
					<% if lang == code %> selected <% end %>>🌐
						<%= name %>
					</option>
			<% end %>
		</select>
	</form>
</div>

<script>
document.querySelector('#language_select').addEventListener("change", (event) => {
	document.querySelector('#language_select').submit();
});

</script>
