<div class="type-move-container">
	<% gens.each do | move_gen | %>
		<a class="a-btn-4" href="/show/pokemon/moves/<%= id %>/gen/<%= move_gen %>?lang=<%= lang %>"><%= move_gen.romanise %></a>
	<% end %>
</div>
