<div class="damage">
	<span>(<%= I18n.t(:horizontally_scrollable_on_small_screens) %>)</span>
	<div class="damage_taken">
		<table>
		<thead>
		<tr>
		<% 18.times do |num| %>
			<th><div id="<%= num + 1 %>" class="move-type-card move-type-card-name rounded"></div></th>
		<% end %>
		</tr></thead>
		<tbody>
		<tr>
			<% damage_info.each do | type, damage | %>
				<td><%= convert_damage(damage) %>x</td>
			<% end %>
		</tr>
		</tbody>
		</table>
	</div>
</div>
