services:
  theriodex:
    image: codeberg.org/hexaitos/theriodex:latest
    platform: linux/amd64
    ports:
      - "5678:5678"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

  redis:
    image: valkey/valkey:latest
    volumes:
      - redis_data:/data

volumes:
  redis_data:
