<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="darkreader-lock">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<meta name="description" content="Theriodex is a small website for displaying information about either specific Pokémon or a random one – an open-source Pokédex made by Hexaitos.">

	<title>Theriodex</title>

	<link rel="preload" as="style" href="/css/main.css">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<%= partial :menu %>

	<div class="main">
		<%= yield %>
	</div>

	<%= partial :footer %>
</body>
</html>
