<h1>About Theriodex</h1>
<div class="about">
	<p>Theriodex is a small little project that I — <a href="https://hexaitos.eu">Hexaitos</a> – am working on in my free time mostly as a programming exercise. It is an open-source Pokédex written in Ruby using <a href="https://sinatrarb.com">Sinatra</a> and a handful of other Ruby gems. I am not quite sure how much this Pokédex will end up covering once it is finished, but for now, you are able to look at a random Pokémon by going to the homepage and you will be shown its sprites along with some useful (and some not so useful) information. You are also able to see the shiny variants by clicking the “Show shiny” button beneath the two sprites. A fuzzy search functionality has also been implemented using the surprisingly old but still working “fuzzy_match” Ruby gem.</p>

	<p>I highly recommend checking out this project’s official <a href="https://git.btlr.sh/hexaitos/theriodex">git repository</a>, as you will be able to find the project’s README there which contains a bunch of planned features as well as instructions on how to run this yourself, if you so wish.</p>
</div>
