<h1>About Theriodex</h1>
<div class="about">
	<p>This is a sort of Pokédex website I wrote mainly as practice. I am not entirely sure how much I will end up displaying on here, but you can search for specific Pokémon and see some information about them or look at a random Pokémon whenever you reload the home page. </p>
</div>
