<div class="about">
	<h1>Welcome to Theriodex!</h1>

	<figure style="float: left; margin: 0 15px 10px 0;">
		<img src="logo.webp" width="120">
		<figcaption>Vappy bids you welcome!</figcaption>
	</figure>

	<p><b>Theriodex</b> is an open-source and ad-free Pokédex! Its aim is to provide you with the most important information you need at a glance! Also try the <a href="/game">Who's That Pokémon?</a> guessing game and unlock more customisation options you can apply in the <a href="/settings">Settings</a>!</p>

	<div class="random-index-pokemon">
		<% if !form_name or form_name.empty? %>
			<%= name %>
		<% else %>
			<%= form_name %>
		<% end %>
	</div>
</div>
