<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>Pokémon Site</title>

<link rel="preload" as="style" href="/css/styles.css">
<link rel="stylesheet" href="/css/styles.css">

<body>
    <div class="menu">
      <a href="/">New Image</a>
    </div>

    <div class="main">
      <%= yield %>
    </div>

    <footer>
      <p>2025</p>
      <p>Made by <a href="https://hexaitos.com">Hexaitos</a> with Sinatra (<a href="https://git.bateleur.org/hexaitos/pokemon_website">Source code</a>)</p>
    </footer>
</body>
</html>
