<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Theriodex is a small website for displaying information about either specific Pokémon or a random one.">

<title>Theriodex</title>

<link rel="preload" as="style" href="/css/styles.css">
<link rel="stylesheet" href="/css/styles.css">

<body>
	<div class="menu">
	  <a href="/">Home</a>
	  <a href="/search">Search</a>
	  <a href="/about">About</a>
	</div>

	<div class="main">
	  <%= yield %>
	</div>

	<footer>
	  <span>Made by <a href="https://hexaitos.com">Hexaitos</a> with Sinatra (<a href="https://git.hexaitos.eu/hexaitos/theriodex">source code</a>). Pokémon and Pokémon character names are trademarks of Nintendo.</span>
	</footer>
</body>
</html>
