<%= partial :lang_select %>

<h1>“<img style="width: 128px; vertical-align: middle;" src="/sprites/types/generation-ix/scarlet-violet/Tera/<%= type_num %>.png" alt="Pokémon type <%= type_num %>">” Pokémon</h1>

<br>

<%= partial :view_pokemon_by_x, list: pokemon_of_type, lang: lang %>
