<div class="search_bar">
    <form action="/search" method="GET">
    <input type="text" id="q" name="q" required>
    <button type="submit">Search</button>
    </form>
</div>

<div class="search">
     <div>
        <%= search_results %>
    </div>
</div>
