<div class="browse-gen-type">
	<form method="POST" action="/settings/select-font">
		<select id="font" name="font" required>
			<option value="">⬇️ Select Font</option>
			<option value="default">Default</option>
			<option value="bubblybold">Bubbly Bold</option>
			<option value="modernmacro">Modern Macro</option>
		</select>
		<button class="full" type="submit">Select font</button>
	</form>
</div>
