footer {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	background-color: var(--color-accent);
	border-radius: 5px;
	font-size: var(--font-size-sm);
	justify-content: center;
}

footer img {
	image-rendering: auto;
	margin-top: 10px;
	margin-right: 5px;
}

footer span {
	font-size: var(--font-size-xs);
	display: block;
}

div.footer-links a:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: 1em 1em;
	margin-right: 3px;
	vertical-align: middle;
	margin-bottom: 2px;
	background-image: url("/icons/ball.svg");
}

div.footer-links {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

footer span a:last-of-type:after {
	background-image: none;
}

footer div.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 10px;
}

footer div.footer-container div {
	align-self: center;
}

footer div.footer-container div img {
	width: 50px;
	margin: 0 auto;
}

div.footer-text {
	flex: 0 1 70%;
}

div.footer-text span {
	text-align: justify;
	hyphens: auto;
}

footer a {
	font-size: var(--font-size-xs);
}
