div.damage_taken table img {
	width: 32px;
}

div.damage_taken {
	justify-content: safe center;
	overflow: auto;
	display: flex;
	margin-top: 10px;
}

div.damage {
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	padding: 10px;
}

div.damage_taken td {
	font-size: var(--font-size-sm);
}

div.damage span {
	font-size: var(--font-size-xs);
	margin-bottom: 10px;
}

div.damage h3 {
	margin-bottom: 0px;
}

.efficacy {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.efficacy-type {
	flex: auto;
	border: 2px solid var(--color-accent-border);
	border-radius: 5px;
	padding: 5px;
}

div.efficacy-type a {
	text-decoration: none;
}

div.efficacy-type .rounded {
	margin-bottom: 5px;
}
