@font-face {
	font-family: "Pixelated";
	src: url("/fonts/Logic_Loop_Extra_Letter_Space.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Quotes";
	src: url("/fonts/PixeloidSans.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+201C, U+201D, U+2018, U+2019, U+2013, U+2014;
}
