footer {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	background-color: var(--color-accent);
	border-radius: 5px;
	font-size: var(--font-size-sm);
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

footer img {
	image-rendering: auto;
	margin-top: 10px;
	margin-right: 5px;
}

footer span {
	width: 100%;
	font-size: var(--font-size-xs);
}

footer span a:after {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: 1em 1em;
	margin-left: 3px;
	vertical-align: middle;
	margin-bottom: 2px;
	background-image: url("/icons/ball.svg");
}

footer span a:last-of-type:after {
	background-image: none;
}
