input {
	font-family: var(--font-primary);
	font-size: var(--font-size-sm);
	border-radius: 5px;
	border: 2px solid var(--color-primary);
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}

input.username {
	width: 80%;
}

.custom-select {
	position: relative;
}

.custom-select::before,
.custom-select::after {
	--size: 0.5rem;
	position: absolute;
	content: "";
	right: 1rem;
	pointer-events: none;
}

.custom-select::before {
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-bottom: var(--size) solid white;
	top: 20%;
}

.custom-select::after {
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-top: var(--size) solid white;
	top: 55%;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align-last: center;
	font-family: var(--font-primary);
	font-size: var(--font-size-sm);
	border: none;
}

select#lang-select {
	top: 0.5rem;
	right: 0.5rem;
	appearance: none;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	background-color: var(--color-primary);
	padding: 5px;
	color: white;
	position: absolute;
	margin-right: 10px;
	margin-bottom: 20px;
	z-index: 10;
	width: 110px;
	border: none;
	font-size: var(--font-size-xs);
	min-height: 28px;
}

select#form-select,
select#evolution-select {
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	background-color: var(--color-primary);
	padding: 0.5rem;
	color: white;
	width: 100%;
}

select#difficulty,
select#generation,
select#type,
select#font {
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	text-align: center;
	background-color: var(--color-primary);
	color: white;
	width: 200px;
	margin-top: 10px;
	border: none;
	flex: auto;
}

form {
	margin-top: 5px;
}

form.save-in-leaderboard {
	display: flex;
	gap: 10px;
	align-items: baseline;
}

form.save-in-leaderboard button,
form.save-in-leaderboard a {
	width: 50%;
}

.difficulty-select {
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	padding: 10px;
}

.username-select {
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	font-weight: bold;
	background-color: white;
}
