input {
	font-family: var(--font-primary);
	border-radius: 5px;
	border: 2px solid var(--color-primary);
	padding: 10px;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

input.username {
	width: 80%;
}

select {
	-webkit-appearance: none;
	text-align-last: center;
	font-family: var(--font-primary);
	font-size: var(--font-size-sm);
}

select#lang-select {
	top: 0.5rem;
	right: 0.5rem;
	appearance: none;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	background-color: var(--color-primary);
	padding: 5px;
	color: white;
	position: absolute;
	margin-right: 10px;
	margin-bottom: 20px;
	z-index: 10;
	width: 110px;
	border: none;
	font-size: var(--font-size-xs);
}

select#difficulty,
select#generation,
select#type,
select#font {
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	text-align: center;
	background-color: var(--color-primary);
	color: white;
	width: 200px;
	margin-top: 10px;
	border: none;
	flex: auto;
}

form {
	margin-top: 5px;
}

form.save-in-leaderboard {
	display: flex;
	gap: 10px;
	align-items: baseline;
}

form.save-in-leaderboard button,
form.save-in-leaderboard a {
	width: 50%;
}

.difficulty-select {
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	padding: 10px;
}

.username-select {
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	font-weight: bold;
	background-color: white;
}
