div.guess img {
	width: 256px;
	image-rendering: auto;
}

div.diff-hint {
	font-size: var(--font-size-sm);
}

div.game-start-buttons {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	flex: 0 0 1;
	justify-content: center;
}

div.game-start-buttons a {
	flex: 1 1 0;
	flex-basis: auto;
}

div.leaderboard {
	max-height: 500px;
	overflow: auto;
	display: inline-block;
}

div.leaderboard table {
	table-layout: fixed;
	width: 100%;
}

div.leaderboard th {
	padding: 10px;
	background-color: var(--color-th);
	border-radius: 5px;
}

div.leaderboard td {
	background-color: var(--color-td);
	border-radius: 5px;
	padding: 10px;
}

div.leaderboard th:nth-of-type(3) {
	width: 50%;
}

div.leaderboard th:nth-of-type(2) {
	width: 30%;
}

div.leaderboard th:nth-of-type(1) {
	width: 25%;
}

.continue {
	width: 45%;
}

.game-results {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.game-results .guess-results {
	flex: 0 0;
}

.guess-results p {
	margin: 0;
	font-size: var(--font-size-sm);
}

.print {
	width: 50%;
}

.download {
	display: flex;
	gap: 10px;
}

div.difficulty-select a.a-btn-2 {
	margin-top: 5px;
}

.game-buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.guess-results img {
	image-rendering: auto;
	width: 128px;
}
