div.item-list {
	justify-content: space-evenly;
	max-height: 500px;
	overflow-y: auto;
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
}

div.item {
	border: 2px solid var(--color-accent-border);
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	position: relative;
	flex: 1 1 0;
	min-width: 40%;
}

div.item-container {
	padding-left: 20px;
	padding-right: 20px;
}

div.item-container img {
	width: 64px;
}

div.item-container p {
	margin-top: 5px;
	margin-bottom: 0;
}

div.item-container span {
	font-size: var(--font-size-sm);
	text-align: justify;
}

div.item-text {
	text-align: justify;
}

div.item-text span.versions {
	color: grey;
	font-size: var(--font-size-xs);
}

div.price-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	left: 0;
	right: 0;
	padding-right: 5px;
}
