div.main {
	padding: 50px;
	background-color: var(--color-bg);
	border-radius: 5px;
	position: relative;
}

div.corner {
	margin-bottom: 15px;
}

div.search_bar {
	margin-bottom: 50px;
	display: flex;
	justify-content: safe center;
}

div.search_bar form {
	display: flex;
	gap: 10px;
	flex: auto;
}

div.search_bar form input {
	margin-bottom: 0;
	font-size: var(--font-size-xs);
	flex: auto;
}

div.search_bar_index {
	margin-bottom: 10px;
}

div.search_bar_index input {
	margin-bottom: 0;
	flex: auto;
	background-color: var(--color-bg);
}

div.search_bar_index input {
	border-radius: 5px 0 0 5px;
}

div.search_bar_index button {
	border-radius: 0 5px 5px 0;
}

div.search_bar_index form {
	display: flex;
	justify-content: safe center;
}

.no-top-radius {
	border-radius: 0 0 5px 5px !important;
}

div.search {
	min-width: 200px;
}

div.privacy {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

div.privacy code {
	overflow: auto;
	display: block;
	unicode-bidi: embed;
	white-space: pre;
}

div.about p,
div.index p {
	text-align: justify;
}

div.about h1,
div.about h2,
div.about h3,
div.about ul,
div.index h1,
div.index h2,
div.index h3,
div.index ul {
	text-align: left;
}

div.flavour {
}

div.info {
	margin-top: 30px;
}

div.stats span {
	font-size: var(--font-size-sm);
	display: inline;
}

div.stats span:after {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: 1em 1em;
	margin-left: 3px;
	vertical-align: middle;
	margin-bottom: 2px;
	background-image: url("/icons/ball.svg");
}

div.stats span:last-of-type:after {
	background-image: none;
}

a.corner {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 10;
	padding: 5px;
	font-size: var(--font-size-xs);
	margin-left: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	text-decoration: none;
	color: #ffffff;
	background-color: var(--color-primary);
	width: 110px;
	min-height: 28px;
}

a.corner:hover {
	background-color: var(--color-primary-hover);
}

a.corner::before {
	background-image: url("/icons/link.svg");
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	background-size: 14px 14px;
	margin-right: 4px;
	vertical-align: middle;
	margin-bottom: 2.5px;
	filter: invert(100%);
}

div.notification {
	border: 2px solid black;
	border-radius: 5px;
	background-color: cornsilk;
}

div.notification p:first-of-type::before {
	background-image: url("/icons/info-circle.svg");
	content: "";
	float: left;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	transform: translateY(-20%);
}

div.notification code {
	font-family: var(--font-primary);
	background-color: var(--color-accent);
	border-radius: 5px;
	padding: 2px;
	font-size: var(--font-size-base);
}

figcaption {
	font-size: var(--font-size-xs);
	font-style: italic;
	opacity: 50%;
}

div.random-index-pokemon {
	flex: auto;
	padding: 10px;
	align-self: baseline;
}

div.index div.text {
	flex: 1 1 60%;
}

div.index {
	display: flex;
	flex-wrap: wrap;
	gap: 0 20px;
	overflow: hidden;
}

div.random-index-pokemon-container {
	margin: 0 auto;
	flex: 1 1 200px;
	border-left: 2px solid var(--color-th);
	margin-left: -2px;
}

div.random-index-pokemon a.a-btn-1 {
	width: 100%;
	display: block;
}

div.flavour-index {
	flex: 1 1 55%;
	hyphens: auto;
	word-wrap: break-word;
}

div.flavour-index p {
	margin-top: 0;
}

div.index-sprites-text {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

* {
	hyphens: auto;
	word-wrap: break-word;
}
