/* @import "variables.css"; */
@import "fonts.css";
@import "base.css";
@import "layout.css";
@import "menu.css";
@import "footer.css";
@import "buttons.css";
@import "forms.css";
@import "sprites.css";
@import "types.css";
@import "moves.css";
@import "pokemon.css";
@import "items.css";
@import "damage.css";
@import "tabs.css";
@import "modal.css";
@import "switch.css";
@import "game.css";
@import "browse.css";
@import "utilities.css";
@import "dark-mode.css";
@import "responsive.css";
@import "settings.css";
