div.pokemon-list {
	justify-content: space-evenly;
	max-height: 500px;
	overflow-y: auto;
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
}

details.pokemon-learning-move .pokemon-list {
	margin-bottom: 10px !important;
}

div.pokemon-list img,
div.item-list img {
	image-rendering: auto;
	width: 96px;
}

div.pokemon-list img.move-pokemon {
	width: 64px;
}

div.pokemon {
	border: 1px solid var(--color-accent-border);
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	flex: 1 1 0;
	position: relative;
}

div.id-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	left: 0;
	right: 0;
	padding-left: 5px;
}

div.id-container span {
	margin-bottom: 1pt;
}

div.id-container,
div.price-container span {
	font-size: var(--font-size-xs);
	line-height: var(--font-size-xs);
	color: grey;
}
