fieldset {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

fieldset div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex: 1 1 0;
}

/*
fieldset div div label {
	display: inline;
}

fieldset div div input {
	width: auto;
}
*/

label[for="default"] {
	font-family: "Pixelated";
}

input[type="radio"] {
	height: 1rem;
	accent-color: var(--color-primary);
}

input[type="radio"][disabled] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	margin: 0;
	all: unset;
	display: block;
}

input[type="radio"][disabled] + label {
	opacity: 20%;
}

input[type="radio"]:disabled + label::before {
	content: "X";
	display: block;
	font-weight: bold;
	color: black;
	pointer-events: none;
	margin-bottom: 1rem;
}
