div.sprites img {
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	width: 128px;
	margin-bottom: 5px;
	aspect-ratio: 1 / 1;
	object-fit: scale-down;
	image-rendering: pixelated;
}

div.sprites-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.sprites a {
	font-size: var(--font-size-sm);
	padding: 5px;
	background: var(--color-primary);
	color: white;
	border-radius: 5px;
	text-decoration: none;
	margin: 2px;
}

div.sprites a:hover {
	background: var(--color-primary-hover);
}

.pokemon-title {
	transform: translateX(11px);
	margin-bottom: 0;
}
