:root {
	--color-primary: #10378d;
	--color-primary-hover: #1d65ff;
	--color-accent: #9ed7e2;
	--color-accent-border: #b5dbe2;
	--color-bg: #ecf7f9;
	--color-links: #10378d;
}

@font-face {
	font-family: 'Pixelated';
	src: url('/fonts/PixeloidSans.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: 'Pixelated';
	box-sizing: border-box;
	cursor: url("/cursors/talonflame.cur"), auto;
}

body {
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	background-color: #b5dbe27a;
}

.menu a {
	padding: 10px;
	margin-right: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: #ffffff;
	background-color: var(--color-primary);
	flex: 1 1 0;
	max-width: 150px;
}

.menu a:hover {
	background-color: var(--color-primary-hover);
}

.menu {
	margin-top: 40px;
	margin-bottom: 30px;
	padding: 30px;
	background-color: var(--color-accent);
	border-radius: 5px;
	display: flex;
	overflow: auto;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}

footer {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
	background-color: var(--color-accent);
	border-radius: 5px;
	font-size: smaller;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

footer img {
	image-rendering: pixelated;
	margin-top: 10px;
	margin-right: 5px;
}

footer span {
	width: 100%;
}

div.main {
	padding: 50px;
	/*background-color: #f6fbfc;*/
	background-color: var(--color-bg);
	border-radius: 5px;
	position: relative;
}

div.sprites img {
	/* border: 5px double #10378d; */
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	width: 128px;
	margin-bottom: 5px;
	aspect-ratio: 1 / 1;
	object-fit: scale-down;
	image-rendering: pixelated;
}

div.sprites-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.sprites a {
	font-size: small;
	padding: 5px;
	background: var(--color-primary);
	color: white;
	border-radius: 5px;
	text-decoration: none;
	margin: 2px;
}

div.sprites a:hover {
	background: var(--color-primary-hover);
}

div.search {
}

div.search div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: safe center;
}

div.search div a {
	width: 200px;
	margin-bottom: 10px;
	color: var(--color-links);
	transition: color 0.5s, transform 0.5s;
}

div.search div a:hover, div.search div a:active {
	color: transparent;
	transition-duration: 0.5s;
	transform: scale(2);
}

div.search_bar {
	margin-bottom: 50px;
	display: flex;
	justify-content: safe center;
}

div.privacy {
	text-align: left;
}

div.privacy pre {
	overflow: auto;
}

.sound-btn {
	vertical-align: super;
	margin: 0;
	width: 16px;
	transform: translateY(-5px);
	transform: translateX(-8px);
}

.sound-btn:hover {
	filter: brightness(0) saturate(100%) invert(13%) sepia(95%) saturate(7003%) hue-rotate(223deg) brightness(110%) contrast(102%);
}

.pokemon-title {
	transform: translateX(11px);
}

div.types {
	/* border: 2px solid #10378d; */
	border-radius: 5px;
	margin-bottom: 30px;
}

div.types img.types {
	width: 40px;
	margin-top: 5px;
}

div.types h1 {
	padding: 0;
	margin: 0;
}

div.types span {
	font-size: small;
	margin-top: 10px;
	display: block;
}

div.corner {
	margin-bottom: 15px;
}

div.evolutions span {
	margin-bottom: 5px;
}

a {
	color: var(--color-links);
	transition: 0.3s;
}

div.evolutions {
	font-size: small;
	margin: 5px;
	display: contents;
}

div.evolutions a {
	padding: 2.5px 5px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	background-color: var(--color-primary);
}

div.evolutions a:hover {
	background-color: var(--color-primary-hover);
}

a:hover {
	text-decoration: none;
}

input {
	border-radius: 5px;
	border: 2px solid var(--color-primary);
	padding: 10px;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

a.a-btn-1 {
	font-size: small;
	padding: 5px;
	background: var(--color-primary);
	color: white;
	border-radius: 5px;
	text-decoration: none;
	margin: 2px;
}

a.a-btn-2 {
	font-size: 13.3333px;
	padding: 12px;
	background: var(--color-primary);
	color: white;
	border-radius: 5px;
	text-decoration: none;
}

a.a-btn-1:hover {
	background-color: var(--color-primary-hover);
}

a.a-btn-2:hover {
	background-color: var(--color-primary-hover);
}

div.guess img {
	width: 256px;
	image-rendering: pixelated;
}

button {
	padding: 12px;
	background-color: var(--color-primary);
	border-radius: 5px;
	color: #ffffff;
	border: none;
}

button:hover {
	padding: 12px;
	background-color: var(--color-primary-hover);
	border-radius: 5px;
}

div.flavour {
}

div.info {
	margin-top: 30px;
}

div.damage_taken table img {
	width: 32px;
}

div.damage_taken {
	justify-content: safe center;
	overflow: auto;
	display: flex;
	margin-top: 10px;
}

div.damage {
	border: 5px double var(--color-accent-border);
	border-radius: 5px;
	padding: 10px;
	margin-top: 30px;
}

div.damage_taken td {
	font-size: small;
}

div.about {
	text-align: justify;
}

div.types a {
	font-size: smaller;
}

a.corner {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	z-index: 10;
	padding: 5px;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	text-decoration: none;
	color: #ffffff;
	background-color: var(--color-primary);
	width: 110px;
}

a.corner:hover {
	background-color: var(--color-primary-hover);
}

div.damage span {
	font-size: 10px;
	margin-bottom: 10px;
}

div.damage h3 {
	margin-bottom: 0px;
}

a.current {
	background-color: black !important;
}

select,
::picker(select) {
	appearance: base-select;
}

select#lang-select {
	top: 0.5rem;
	right: 0.5rem;
	appearance: none;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	background-color: var(--color-primary);
	padding: 5px;
	color: white;
	position: absolute;
	margin-right: 10px;
	margin-bottom: 20px;
	z-index: 10;
	width: 110px;
	border: none;
	font-size: 12px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}

	.sound-btn {
		filter: invert(100);
	}

	.sound-btn:hover {
		filter: brightness(0) saturate(100%) invert(79%) sepia(14%) saturate(4587%) hue-rotate(326deg) brightness(82%) contrast(85%);
	}

	:root {
		--color-primary: #96311d;
		--color-primary-hover: #c58043;
		--color-accent: #162225;
		--color-accent-border: #b5dbe2;
		--color-bg: #162225;
		--color-links: #c58043;
	}

	p, span, h1, h2, h3, tr, a.current, div.privacy {
		color: white;
	}

	input {
		background-color: black;
		color: white;
	}
}

@media screen and (max-width: 900px) {
	body {
		margin-left: 10%;
		margin-right: 10%;
	}

	button {
		margin-top: 10px;
	}

	div.flavour, p.ability {
		text-align: justify;
	}

	div.main {
		padding: 30px;
	}
}

@media screen and (max-width: 500px) {
	div.sprites img {
		width: 116px;
	}
}
