@font-face {
  font-family: 'Pixelated';
  src: url('/fonts/PixeloidSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
    font-family: 'Pixelated';
    box-sizing: border-box;
}

body {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.menu a {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #10378d;
}

.menu a:hover {
    background-color: #1d65ff;
}

.menu {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #9ed7e2;
    border-radius: 5px;
    display: flex;
    overflow: scroll;
    justify-content: center;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #9ed7e2;
    border-radius: 5px;
    font-size: smaller;
}

div.main {
    padding: 50px;
    /*background-color: #f6fbfc;*/
    background-color: #ecf7f9;
    border-radius: 5px;
}

div.sprites img {
    /* border: 5px double #10378d; */
    border: 5px double #b5dbe2;
    border-radius: 5px;
    width: 128px;
}

div.search {
}

div.search div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: safe center;
}

div.search div a {
    width: 200px;
    margin-bottom: 10px;
}

div.search_bar {
    margin-bottom: 50px;
    display: flex;
    justify-content: safe center;
}

div.types {
    /* border: 2px solid #10378d; */
    border-radius: 5px;
    margin-bottom: 30px;
}

div.types img {
    width: 40px;
    margin-top: 5px;
}

div.types h1 {
    padding: 0;
    margin: 0;
}

a {
    color: #10378d;
}

a:hover {
    text-decoration: none;
}

input {
    border-radius: 5px;
    border: 2px solid #10378d;
    padding: 10px;
}

button {
    padding: 12px;
    background-color: #10378d;
    border-radius: 5px;
    color: white;
    border: none;
}

button:hover {
    padding: 12px;
    background-color: #1d65ff;
    border-radius: 5px;
}

div.flavour {

}


@media screen and (max-width: 900px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    button {
        margin-top: 10px;
    }

    div.main {
        padding: 30px;
    }
}

@media screen and (max-width: 500px) {
    div.sprites img {
        width: 116px;
    }
}

div.damage_taken table img {
    width: 32px;
}

div.damage_taken {
    justify-content: safe center;
    overflow: scroll;
    display: flex;
    margin-top: 10px;
}

div.damage {
    border: 5px double #b5dbe2;
    border-radius: 5px;
    padding: 10px;
}

div.damage_taken td {
    font-size: small;
}

div.about {
    text-align: left;
}

div.types a {
    font-size: smaller;
}

a.corner {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 10;
    font-size: 10px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #10378d;
}

a.corner:hover {
    background-color: #1d65ff;
}

div.damage span {
    font-size: 10px;
    margin-bottom: 10px;
}

div.damage h3 {
    margin-bottom: 0px;
}
