:root {
	--font-primary: "Retro Future Spaced";
	--font-mono: monospace;

	--font-size-base: 12px;
	--font-size-xs: 0.6rem;
	--font-size-sm: 0.7rem;
	--font-size-md: 0.9rem;
	--font-size-lg: 1.25rem;
	--font-size-xl: 1.5rem;
	--font-size-xxl: 1.875rem;
	--font-size-xxxl: 2.25rem;

	--line-height-base: 1.4;
	--line-height-p: 1.6;
	--line-height-heading: 2;
	--line-height-button: 1.6;
}
