<h1>Leaderboard</h1>
<div class="leaderboard">
	<table><thead>
	<tr>
		<th>User</th>
		<th>Score</th>
		<th>Date</th>
	</tr></thead>
	<tbody>
	</tbody>
		<% REDIS.zrevrange("scores", 0, -1, :with_scores => true).each do |name, score| %>
			<tr>
				<td><%= name.rpartition("-")[0] %></td>
				<td><%= score.to_i %></td>
				<td><%= Time.strptime(name.rpartition("-")[2], '%Y%m%d%H%M%S').strftime('%B %-d, %Y. %H:%M') %></td>
			</tr>
		<% end%>
	</tbody>
	</table>
</div>
