:root {
	--color-primary: #10378d;
	--color-primary-hover: #1d65ff;
	--color-accent: #9ed7e2;
	--color-accent-border: #b5dbe2;
	--color-bg: #ecf7f9;
	--color-links: #10378d;
	--color-th: #9ed7e2;
	--color-body: #b5dbe27a;
	--color-td: white;

	--font-size-body: var(--font-size-md);
	--font-size-small: var(--font-size-sm);
	--font-size-micro: var(--font-size-xs);
	--font-size-heading: var(--font-size-xl);
	--font-size-title: var(--font-size-xxl);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #96311d;
		--color-primary-hover: #c58043;
		--color-accent: #162225;
		--color-accent-border: #b5dbe2;
		--color-bg: #162225;
		--color-links: #c58043;
		--color-th: #96311d;
		--color-td: black;
		--color-body: black;
	}
}
