:root {
	--color-primary: #4f518c;
	--color-primary-hover: #7276c5;
	--color-accent: #dabfff;
	--color-accent-border: #4f518c;
	--color-body: #4f518c;
	--color-links: #e026a4;
	--color-th: #4f518c;
	--color-bg: #dabfff;
	--color-header: #a9a8fc;
	--color-td: white;

	--font-size-body: var(--font-size-md);
	--font-size-small: var(--font-size-sm);
	--font-size-micro: var(--font-size-xs);
	--font-size-heading: var(--font-size-xl);
	--font-size-title: var(--font-size-xxl);
}

body {
	background-image: url(/backgrounds/stars.svg);
	background-repeat: repeat;
	background-attachment: fixed;
}

th {
	color: white;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #4f518c;
		--color-primary-hover: #7276c5;
		--color-accent: #1a0636;
		--color-accent-border: #4f518c;
		--color-body: #25264f;
		--color-links: #e491c9;
		--color-th: #4f518c;
		--color-bg: #1a0636;
		--color-td: black;
	}
}
