:root {
	--color-primary: #a70b0b;
	--color-primary-hover: #850a0a;
	--color-accent: #ffd23399;
	--color-accent-border: #850a0a;
	--color-body: #f9dc5c5c;
	--color-links: #a70b0b;
	--color-th: #a70b0b;
	--color-bg: #fdf8e1;
	--color-td: white;

	--font-size-body: var(--font-size-md);
	--font-size-small: var(--font-size-sm);
	--font-size-micro: var(--font-size-xs);
	--font-size-heading: var(--font-size-xl);
	--font-size-title: var(--font-size-xxl);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #d8b02b;
		--color-primary-hover: #af8e23;
		--color-accent: #162225;
		--color-accent-border: #b5dbe2;
		--color-bg: #162225;
		--color-links: #ffd233;
		--color-th: #af8e23;
		--color-body: black;
		--color-td: black;
	}
}
